body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 70%;
  margin: auto;
  padding: 20px;
}
.content {
  width: 50%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
